[project]
	description = My shell scripts
[access "refs/*"]
	owner = group user/Alexis Sasha Acker (sashaacker)
[access "refs/for/refs/*"]
	read = group user/Alexis Sasha Acker (sashaacker)
	push = group user/Alexis Sasha Acker (sashaacker)
	label-Code-Review = -2..+2 group user/Alexis Sasha Acker (sashaacker)
	label-Verified = -1..+1 group user/Alexis Sasha Acker (sashaacker)
	rebase = group user/Alexis Sasha Acker (sashaacker)
	removeReviewer = group user/Alexis Sasha Acker (sashaacker)
	submit = group user/Alexis Sasha Acker (sashaacker)
[access "refs/heads/*"]
	read = group user/Alexis Sasha Acker (sashaacker)
	create = group user/Alexis Sasha Acker (sashaacker)
	push = +force group user/Alexis Sasha Acker (sashaacker)
	pushMerge = group user/Alexis Sasha Acker (sashaacker)
[access "refs/tags/*"]
	push = +force group user/Alexis Sasha Acker (sashaacker)
	pushTag = group user/Alexis Sasha Acker (sashaacker)
	pushSignedTag = group user/Alexis Sasha Acker (sashaacker)
